.slide.image-scroll {
  height: 70vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Edge */
}

.slide.image-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.slide.image-scroll img "collage.png" {
  width: 100%;
  height: auto;
  display: block;
}
